html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #05060f;
}

body {
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

canvas {
  display: block;
  touch-action: none;
}
